body{
	padding:0;
	margin:0;
	background:#000;
}
img[alt="www.000webhost.com"]{
    display:none;
}
header{
	position:absolute;
	width:100%;
	height:50px;
	top:0;
	right:0;
	left:0;
	background:#fff;
	box-shadow:0px 0px 10px 0px;
	z-index:1;
	transition:0.5s;
}
header .k1{
	margin-top:10px;
	margin-left:20px;
	width:200px;
	height:40px;
	display:flex;
	font-size:25px;
}
header .q{
	margin-top:3px;
}
h2{
	text-align: center;
	color:#20D8C2;
	font-size:25px;
	font-weight: bold;

}
.info
{
	font-size:20px;
	margin:20px auto;
	color:#fff;
	letter-spacing:1px;
	width:90%;
	height:auto;
	text-align: justify;
}
.p{
	margin:25px auto;
	color:#DAE0E2;
	font-size:20px;
	letter-spacing:1px;
	width:75%;
	height:auto;
	line-height:25px;
	text-align: justify;
	text-indent:50px;
	
}
.r3{
	color:#DAE0E2;
	font-size:20px;
	width:90%;
	height:auto;
	text-align:justify;
	text-indent:50px;
	margin:55px;
}
.info
{
	color:#dae0e2;
	font-size:20px;
	width:90%;
	height:auto;
	text-align:justify;
	text-indent:50px;
	margin:50px;
}
.h2{
	color:#dae0e2;
	font-size:20px;
	width:90%;
	height:auto;
}
header.black{
	position:fixed;
	width:100%;
	height:50px;
	top:0;
	right:0;
	left:0;
	color:#fff;
	background:rgba(0,0,0,0.8);
	box-shadow:0px 0px 10px 0px;
	z-index: 1;
	transition:0.5s;
}
.m img{
	width:100%;
	height:auto;
    
}

header.black nav ul li a{
	color:#fff;
}
header.black nav ul li a:hover{
	background:#00CCCD;
 	transform:scale(1.15);
 	border-bottom:1px solid #fff;
}
header  nav ul li a:hover{
	background:#00CCCD;
 	transform:scale(1.15);
 	border-bottom:1px solid #000;
}
.nav{
	position:absolute;
	display:block;
	width:100%;
	float:right;
	z-index: 1;
}
.nav ul{
	margin:0;
	padding:0;
	display:flex;
	float:right;
}
.nav ul li{
	list-style: none;
}
.nav ul li a{
	text-transform: uppercase;
	font-weight: bold;
	display:block;
	margin:10px 0;
	padding:10px 20px;
	text-decoration: none;
	color:#262626;
	transition:0.5s;
}
.r1 img{
	 width:100%;
	 height:auto;
	 margin-top:-4px;
	
}
hr{
	display: none;
}

@media (min-width:800px){
	.n1{
	display: none;
    }
}
@media (max-width:800px){
	header.black div{
		color:#fff;
	}
	.info
	{
		color:#EAF0F1;
		font-size:13px;
		text-align:justify;
		margin:10px auto;
	}
	header{
		z-index:2;
	}
	h2{
		margin-top:50px;
		text-align: center;
		font-weight: bold;
		color:#20D8C2;
		font-size:20px;

	}
	.r{
		margin-top:-5px;
		background:#EEEEEE;
		width:100%;
		height:200px;

	}
	.r1 img{
		width:100%;
		height:auto;
		margin:5px auto;	
	}
	
	.r3{
		width:180px;
		height:auto;
		text-align:center;
		font-size:13px;
		margin:10px auto;
		color:#EAF0F1;
	}
	
	
	.r3 h2{
		color:#fff;
		font-size:15px;
		text-align:center;
		text-indent:1px;
		margin:10px auto;
	}
	.p{
		width:100%;
		height:auto;
		letter-spacing:1px;
		text-align:justify;
		margin:20px auto;
		margin-left:20px;
		font-size:16px;
	}
	.nav{
		display:none;
	}

	.g{
		position:absolute;
		width:40px;
		height:40px;
		margin:40px;
		float:right;
		top:-70%;
		right:-8%;
		color:#000;
		font-size:40px;
		text-align: center;
		cursor:pointer;
		font-weight:bold;
	}
	.g:before{
		content:'\f1c3';
		 font-family:Ionicons;
		line-height:30px;

}
.ge:before{
		content:'\f406';
		 font-family:Ionicons;
		line-height:30px;
}
	nav{
		position:fixed;
		width:250px;
		height:100%;
		background:#000;
		display:block;
		overflow: hidden;
		transition:0.5s all;
		margin-left:-250px;
		z-index:0;
	}
	.slide{
		margin-left:0;
	}
	nav ul{
		position:absolute;
		display:block;
		width:240px;
		height:100%;
		top:0%;
		margin-top:40px;
		left:-14%;
	}
	nav ul li{
		border-bottom:1px dotted #fff;
		transition:0.1s all;
	}
	 a{
		display:block;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		font-size:18px;
		margin-top:40px;
		margin-bottom: 5px;
		margin-right:10px;
		margin-left:10px;
		padding:auto;
		color:#fff;
		transition:0.1s all;
		transition:0.5s;
	}
nav ul li a:hover{
	color:#00CCCD;
 	transform:scale(1.15);
 }
	



.ico
{
	color:#fff;
	font-size:50px;
	border-bottom: none;
	margin-top:80px;
	padding:auto;
	text-align: center;
}
.i{
	transition:0.5s;
	font-size:60px;
	font-family:Ionicons;
	padding:auto;
	text-shadow:0 0px 10px rgba(33,156,249,5);
	-webkit-animation:blink 0.8s linear infinite;
	-moz-animation:blink 0.8s linear infinite;
	animation:blink 1s linear infinite;
}
@-webkit-keyframes blink{
	0%{opacity:1;}
	50%{opacity:0;}
	100%{opacity:1;}
}
@-moz-keyframes blink{
	0%{opacity:1;}
	50%{opacity:0;}
	100%{opacity:1;}
}
@keyframes blink{
	0%{opacity:1;}
	50%{opacity:0;}
	100%{opacity:1;}
}	

 
}

